{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
  {{ super() }}
  {{ datepicker.loader(theme="base") }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block page_content %}

<div class="col-xs-12">
  <div class="col-xs-6">
      <div class="form-group">
         
        <label for="sel1">Projetos **Não é do form**</label>
        {{ form.selectProjeto(required="required", class_="form-control") }}

            <form class="verticalform">
                <label>Data Inicio</label>  
              <div class="input-group">
                  {{ form.dtInicio(class_="form-control dp") }}
                    <spam class="input-group-addon glyphicon glyphicon-calendar"></spam>
                  </div>
                </form>

                    <label>Hora Inicio</label> 
                    {{ form.hrInicio(class_="form-control") }}
            
            <form class="verticalform">
              <label>Data Fim</label>  
            <div class="input-group">
                {{ form.dtFim(class_="form-control dp") }}
                  <spam class="input-group-addon glyphicon glyphicon-calendar"></spam>
                </div>
              </form>

                  <label>Hora Fim</label> 
                  {{ form.hrFim(class_="form-control") }}         
                

          <label for="sel1">Atividade **Não é do form** </label>
          <select class="form-control " id="sel1">
            <option>Projeto 1</option>
            <option>Projeto 2</option>
            <option>Projeto 3</option>
            <option>Projeto 4</option>
          </select>


          <label for="sel1"></label>
          {{ form.descricao(class_="form-control") }}
          <br>     
     </div>
  </div>
        <div class="col-xs-6">
            <div class="col-xs-6">
              {{ formR.iniciar(class_="btn btn-block btn-lg btn-primary") }}
                <!-- <button type="button" class="btn btn-block btn-lg btn-primary">Iniciar </button> -->
            </div>
            <div class="col-xs-6">
                {{ formR.parar(class_="btn btn-block btn-lg btn-danger") }}
                <!-- <button type="button" class="btn btn-block btn-lg btn-danger">Parar  </button> -->
            </div>
            <div class="col-xs-12">
                <h2 class="text-center">Tempo Trabalhado: [00:07]<br><br>
                  {{ formR.gravar(class_="btn btn-block btn-lg btn-success") }}
                    <!-- <button type="button" class="btn btn-block btn-lg btn-success">Gravar </button> -->
                </h2>
                
            </div>
        </div>

<div class="col-xs-12">
    <div class="panel panel-default"> 
        <div class="panel-heading">Lista de Atividades **Não é do banco**</div> 
        <table class="table"> 
                <thead> 
                    <tr> 
                        <th>Projeto</th>                         
                        <th>Atividade</th> 
                        <th>Data Inicio</th> 
                        <th>Hora Inicio</th> 
                        <th>Data fim</th> 
                        <th>Hora Fim</th>                        
                        <th>Total Horas</th>                    
                        <th>Ações</th>  
                    </tr> 
                </thead> 
                <tbody> 
                    <tr>
                        <td>Projeto 1</td>
                        <td>Desenvolvimento</td>
                        <td>21/03/2012</td> 
                        <td>11:30</td> 
                        <td>21/03/2012</td> 
                        <td>18:30</td> 
                        <td>7</td>  
                        <td> 
                            <a href="#"><span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span></a>
                                &nbsp;
                                <a href="#"><span class="glyphicon glyphicon-pencil" style="color:green" aria-hidden="true"></span></a>
                        </td>
                                                 
                    </tr> 
                </tbody> 
            </table> 
    </div>
</div>

</div>
  
{% endblock %}