{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
{% endblock %}


{% block page_content %}

<h2>Horas por projeto </h2>
<div class="col-xs-12">
    <form action="relatorios" method="GET">
        <div class="col-xs-4">
            <label>Projeto</label>
            {{ hpform.selectProject(class_="form-control") }}
        </div>
        <div class="col-xs-4">
                <label>Mes de referencia</label>
                {{ hpform.selectMonth(class_="form-control") }}
        </div>
        <div class="col-xs-4">
                <br>    
            {{ hpform.gravar(class_="btn btn-success") }}
        </div>
    </form>
</div>
<table id="table_horasProjeto" class="display">
    <thead>
        <tr>
            <th>#</th>
            <th>Projeto</th>
            <th>Atividade</th>
            <th>Data Inicio</th>
            <th>Hora Inicio</th>
            <th>Data fim</th>
            <th>Hora Fim</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
      <form action="relatorios" method="GET">
          {% for item in listTable %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
                <td>{{ item.project.nameProject }}</td>
                <td>{{ item.task.descricao }}</td>
                <td>{{ item.dtInic }}</td>
                <td>{{ item.hrInic }}</td>
                <td>{{ item.dtFim }}</td>
                <td>{{ item.hrFim }}</td>
                <td>{{ item.descricao }}</td>
        </tr>
          {% endfor %}
      </form>
    </tbody>
</table>

{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>
<script src="{{ url_for('static', filename='datatable.local.js') }}"></script>
{% endblock %}
