{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Editar atividade{{ super() }}
{% endblock %} 


{% block page_content %}
{% if current_user.is_admin %}
	<form action = {{ action }} method = "POST">
		{{ form.idAtividade(required="required", class_="form-control", readonly=True) }}
		<label>Descrição </label>
		{{ form.descricao(required="required", class_="form-control") }}
		<br>
		{{ form.salvar(class_="btn btn-success") }}
		{{ form.cancelar(formnovalidate="formnovalidate", class_="btn btn-danger") }}
	</form>

{% else %}
<script language="javascript" type="text/javascript">
     <!--
     window.open("/acesso_negado","_self")
     // -->
 </script>

{% endif %}
{% endblock %}
