{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
	<form action = {{ action }} method = "POST">
		<h4>ID Vinculacao </h4>
        {{ form.codVinc(class_="form-control") }}
        <h4>Selecione Funcionario </h4>
        {{ form.selectFunc(class_="form-control") }}
        <h4>Selecione Projeto </h4>
        {{ form.selectProj(class_="form-control") }}
        <h4>É coordenador </h4>
        {{ form.coordenador(class_="form-control") }}
        <h4> </h4>
        {{ form.salvar(class_="btn btn-success") }}
        {{ form.cancelar(class_="btn btn-danger") }}
	</form>
{% endblock %}
