{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Editar Projeto{{ super() }}
{% endblock %} 


{% block page_content %}
{% if current_user.is_admin %}

        <form action = {{ action }} method = "POST">
                <label>ID Projeto </label>
                {{ form.codProj(required="required", class_="form-control", readonly=True) }}
                <label>Nome do projeto </label>
                {{ form.nomeProj(required="required", class_="form-control", autocomplete="off") }}
                <label>Selecione Cliente </label>
                {{ form.selectClient(required="required", class_="form-control", autocomplete="off") }}
                <label>Descrição </label>
                {{ form.descrProj(required="required", class_="form-control", autocomplete="off") }}
                <br>
                {{ form.salvar(class_="btn btn-success") }}
                {{ form.cancelar(formnovalidate="formnovalidate", class_="btn btn-danger") }}
        </form>
{% else %}
<script language="javascript" type="text/javascript">
     <!--
     window.open("/acesso_negado","_self")
     // -->
 </script>

{% endif %}
{% endblock %}
