{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Editar funcionário{{ super() }}
{% endblock %} 


{% block page_content %}
{% if current_user.is_admin %}

    <form action = {{ action }} method = "POST">
        <label>Nome do Funcionário </label>
        {{ form.nomeCompleto(class_="form-control", autocomplete="off") }}
        <label>Nome de usuário </label>
        {{ form.nome(required="required", class_="form-control", autocomplete="off") }}
        <label>Matricula </label>
        {{ form.matricula(required="required", class_="form-control", readonly=True, autocomplete="off") }}
        <label>Senha </label>
        {{ form.password(required="required", class_="form-control") }}
        <br>
        {{ form.admin }}
        é Admimnistrador?<br><br>
        {{ form.salvar(class_="btn btn-success") }}
        {{ form.cancelar(formnovalidate="formnovalidate", class_="btn btn-danger") }}
        
        </div>
    </form>
{% else %}
<script language="javascript" type="text/javascript">
     <!--
     window.open("/acesso_negado","_self")
     // -->
 </script>

{% endif %}
{% endblock %}
