{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
{% if current_user.is_admin %}

	<form action = {{ action }} method = "POST">
		<h4>ID Vinculacao </h4>
        {{ form.codVinc(required="required", class_="form-control") }}
        <h4>Selecione Funcionario </h4>
        {{ form.selectFunc(required="required", class_="form-control") }}
        <h4>Selecione Projeto </h4>
        {{ form.selectProj(required="required", class_="form-control") }}
        <h4>É coordenador </h4>
        {{ form.coordenador }}
        <h4> </h4>
        {{ form.salvar(class_="btn btn-success") }}
        {{ form.cancelar(formnovalidate="formnovalidate", class_="btn btn-danger") }}
	</form>

{% else %}
<script language="javascript" type="text/javascript">
     <!--
     window.open("/acesso_negado","_self")
     // -->
 </script>

{% endif %}
{% endblock %}
