{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
{{ wtf.quick_form(form) }}
<div class="panel panel-default"> 
        <div class="panel-heading">Lista de Projetos</div> 
        <table class="table"> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>First Name</th> 
                        <th>Last Name</th> 
                        <th>Username</th> 
                        <th>Actions</th> 
                    </tr> 
                </thead> 
                <tbody> 
                    <tr> 
                        <th scope="row">1</th> 
                        <td>Mark</td> 
                        <td>Otto</td> 
                        <td>@mdo</td> 
                        <td> 
                                <a href="#"><span class="glyphicon glyphicon-pencil" style="color:green" aria-hidden="true"></span></a>
                                &nbsp;
                                <a href="#"><span class="glyphicon glyphicon-trash" style="color:red" aria-hidden="true"></span></a>
                        </td> 
                    </tr> 
                </tbody> 
            </table> 
    </div>
    
{% endblock %}