{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Perfil{{ super() }}
{% endblock %} 


{% block page_content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                {{ message }}
                <br>
                <form action="perfil" method="GET">
                    <input type="submit" value="Close">
                </form>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="col-sm-3">
    <center>
        <label>Imagem de Perfil </label>
        <br>
        {% if avatar %}
         <img src="{{ url_for('static', filename='images/' + avatar) }}" class="img-thumbnail">
        {% else %}
        <img src="{{ url_for('static', filename='images/img_avatar3.png') }}" class="img-thumbnail">
        <br><br>
        {% endif %}
      
        <button onclick="document.getElementById('uploadImagem').style.display='block'" class="btn btn-primary">Cadastrar funcionário</button>
            <form action = "{{ request.path }}" method = "POST" enctype="multipart/form-data">
                <div id="uploadImagem" class="modal">
                    <div class="modal-content">
                        <div class="container">
                            <div class="col-sm-10 text-left">
                                <p>Selecione uma nova imagem para seu perfil</p> 
                                <label>Selecionar nova imagem </label>                   
                                {{ form.upload(class_="form-control") }}
                                <br><br>
                                {{ form.enviar(class_="btn btn-success") }}
                                <button class="btn btn-danger" onclick="document.getElementById('uploadImagem').style.display='none'">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

    </center>
</div>

<form action = "{{ request.path }}" method = "POST">
<div class="col-sm-9">
    <div class="form-group">
        <label>Nome completo </label>
            {{ form.nomeCompleto(class_="form-control") }}
        <label>Nome de usuário </label>
            {{ form.nome(class_="form-control", autocomplete="off") }}
       <label>Matricula </label>
            {{ form.matricula(class_="form-control", readonly=True, autocomplete="off") }}
        <label>Senha </label>
            {{ form.password(class_="form-control", minlength=4) }}
        <label>Confirmar senha </label>
            {{ form.confirm(class_="form-control", minlength=4) }}
        <br>
            {{ form.submit(class_="btn btn-success") }}
            {{ form.cancel(class_="btn btn-danger") }}
    </div>
</div>
</form>



{% endblock %}