{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Perfil{{ super() }}
{% endblock %} 


{% block page_content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                {{ message }}
                <br>
                <form action="perfil" method="GET">
                    <input type="submit" value="Close">
                </form>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="col-sm-3">
    <center>
        <label>Imagem de Perfil </label>
        <br>
        <img src="{{ url_for('static', filename='images/img_avatar.png') }}" class="img-thumbnail">
        <br><br>
        <form action = "{{ request.path }}" method = "POST">
        {{ form.upload(class_="btn btn-primary") }}
    </form>
    </center>
</div>
<form action = "{{ request.path }}" method = "POST">
<div class="col-sm-9">
    <div class="form-group">
        <label>Nome completo </label>
            {{ form.nomeCompleto(class_="form-control") }}
        <label>Nome de usuário </label>
            {{ form.nome(class_="form-control", autocomplete="off") }}
       <label>Matricula </label>
            {{ form.matricula(class_="form-control", readonly=True, autocomplete="off") }}
        <label>Senha </label>
            {{ form.password(class_="form-control", minlength=4) }}
        <label>Confirmar senha </label>
            {{ form.confirm(class_="form-control", minlength=4) }}
        <br>
            {{ form.submit(class_="btn btn-success") }}
            {{ form.cancel(class_="btn btn-danger") }}
    </div>
</div>
</form>



{% endblock %}