{% extends "bootstrap/base.html" %}

{% block title %}Apropriação de Horas{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
        <div class="container">
                <a class="navbar-brand" href="#">Sistema CadHoras</a>
                <ul class="nav navbar-nav">
                    <li><a href="#"></a></li>
                    
                </ul>
        </div>
 </nav>   



{% endblock %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{ message }}
</div>
{% endfor %}

{% block content %}

<div class="container">
        <div class="jumbotron">
                
                {% block page_content %}{% endblock %}   

        </div>
        
   
</div>
{% endblock %}


