{% extends "bootstrap/base.html" %}

{% block title %} - Apropriação de Horas{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sistema CadHoras</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse out" aria-expanded="true" style="">
          <ul class="nav navbar-nav">
            
                {% if current_user.is_authenticated %}
        <li class="dropdown">
                {% if current_user.is_admin %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                
                <ul class="dropdown-menu">
                        <li><a href="/admin/projetos">Projetos</a></li>
                        <li><a href="/admin/clientes">Clientes</a></li>
                        <li><a href="/admin/funcionarios">Funcionários</a></li>
                        <li><a href="/admin/vinculacao">Vincular funcionários em projetos</a></li>
                        <li><a href="/admin/atividades">Atividades</a></li>
                </ul>
                {% endif %}

                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lançamentos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <li><a href="/lancamentos">Horas Trabalhadas</a></li>
                        </ul>
                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                              
                                <li><a href="/horasPorProjeto">Horas por projeto</a></li>
                        </ul>
                </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% if current_user.imagem %}
                                <img src="{{ url_for('static', filename='images/' + current_user.imagem) }}" class="avatarnav">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/img_avatar3.png') }}" class="avatarnav">
                            {% endif %}                            
                            &nbsp  
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                        <li class="dropdown-header header-nav-current-user">
                                                        Bem vindo<BR>
                                                <strong>{{ current_user.fullusername }}</strong>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="/perfil"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Perfil</a></li>
                                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair </a></li>
                                </ul>
                        </li>
                        
                        </ul>
     
             {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{ message }}
</div>
{% endfor %}

{% block content %}

<div class="container">
        <div class="panel panel-default">
                <div class="panel-body">
                  {% block page_content %}{% endblock %}  
                </div>
        </div>   
</div>


<div id="footer">
        <div class="container">
          <div class="footer-block">
            <p class="text-center">
             Desenvolvido por Filipe Batista e Lucio Pintanel
          </p>
        </div>
        </div>
      </div>


{% endblock %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='js-contents.js') }}"></script>
{% endblock %}


